:root {
    --fs-1: clamp(2.5rem,0.4230769230769229rem + 4vw,3.5rem);
    --fs-2: clamp(2rem,0.96153846153844rem + 2.05128201282051vw,2.5rem);
    --fs-3: clamp(1.5rem,0.46153846153846145rem + 2.051282051282051vw,2rem);
    --fs-4: clamp(1.25rem,0.7307692307692307rem + 1.025410256410255vw,1.5rem);
    --fs-5: 1.125rem;
    --fs-6: clamp(0.875rem,0.6153846153846154rem + 0.5128205128205128vw,1rem);
    --fs-7: 1.125rem;
}
